			
body,h1,h2,h3,h4,h5,h6,ul,li,ol,dl,dd,dt,input,p,img,a{padding:0;margin:0;}
			
			body{
				font-size: 12px;
				font-family: "微软雅黑";
				height:3000px;
				
			}
			.w{
				width:1200px;
				margin:0 auto;
			}
			.l{
				float:left;
			}
			.r{
				float:right;
			}
			a{
				color:#000000;
				text-decoration: none;
			}
			a:hover{
				color:red;
			}
			ul,li{
				list-style: none;
			}
			a img{
				border:0;
			}
